@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --lavender-stitch: #CDCEF8;
  --blush-yarn: #FFC8DD;
  --petal-loop: #FFAFCC;
  --sky-skein: #BDE0FE;
  --periwinkle-cast: #A2D2FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-lavender-stitch: var(--lavender-stitch);
  --color-blush-yarn: var(--blush-yarn);
  --color-petal-loop: var(--petal-loop);
  --color-sky-skein: var(--sky-skein);
  --color-periwinkle-cast: var(--periwinkle-cast);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
